/* REMINDER! All of your elements must use your unique namespace '.repgen' at the start to avoid leaking */
.repgen {
  display: flex;
  width: 100%;
  height: 100%;
}

.repgen .body-content-container {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;      
    min-width: 40rem;
    min-height: 30rem;
    flex-grow: 1;
  }

  .repgen .welres-container {
    display: flex;
    color: #00A8A8;
    margin-bottom: 100px;
  }
  
  .repgen .header-content-container {
    display: flex;
    flex-direction: row;
    align-self: auto;
  }

  .repgen .sidebar-container {
    width: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    background-color: #C9E7E5;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
}

  .repgen .sidebar-container.visible {
    width: 20%;
  }

  .repgen .sidebar-main-separator {
    flex-grow: 1;
    transition: width 0.3s ease-in-out;
    display:flex;
    flex-direction: column;
    height: 100%;
  }
  
  

  .repgen .navbar-main-separator{
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .repgen .navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
  }

  .repgen .sidebar-icons-ham-icon-wrapper {
    align-items: center;
    margin: 10px;
  }
  
  .repgen .ham-menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  
  .repgen .ham-menu-icon span{
    height: 0.1rem;
    width: 100%;
    background-color: rgb(124, 124, 124);
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  
  .repgen .ham-menu-icon span:nth-child(1){
    top: 20%;
  }
  
  .repgen .ham-menu-icon span:nth-child(3){
    top: 80%;
  }
  
  .repgen .ham-menu-icon.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -55%) rotate(45deg);
  }
  
  .repgen .ham-menu-icon.active span:nth-child(2){
    opacity: 0;
  }
  
  .ham-menu-icon.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -55%) rotate(-45deg);
  }

  .repgen .main-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 95%;
    width: 100%;
  }

  .repgen .textbar-container{
    align-items: center;
    display: flex;
    background-color: #F7F9FB;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
    height: auto;
    justify-content: space-between;
    border-radius: 15px ;
  }

  .repgen .text-input {
    background-color: transparent;
    color: black;
    border: none;
    width: 95%;
    margin-left: 10px;
    outline: none;
    height: auto;
    min-height: 40px;
    max-height: 300px;
    resize: none;
    overflow-y: auto;
    word-wrap: break-word;
  }

  .repgen .text-input::-webkit-scrollbar{
    display: none;
  }



  .repgen .sendmsg-icon{
    width: 32px;
  }



  /* Responsive CSS */

  @media only screen and (max-width: 768px) {
    .repgen .body-content-container {
      flex-direction: column;
      padding: 0.5rem;
    }
    .repgen .sidebar-container{
      display: none;
    }
    .repgen .header-content-container {
      flex-direction: column;
    }
    .repgen .welres-container {
      display: none;
    }
    .repgen .sidebar-icons-hamburger-container{
      display: block;
    }
    
  }