/* REMINDER! All of your elements must use your unique namespace '.repgen' at the start to avoid leaking */

.repgen {
  display: flex;
  width: 100%;
  height: 100%;
}

.repgen .body-content-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0rem 0.2rem 0.1rem rgba(162, 162, 162, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 40rem;
  min-height: 30rem;
  flex-grow: 1;
}

.repgen .welres-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00A8A8;
  margin-bottom: 100px;
}

.repgen .header-content-container {
  display: flex;
  flex-direction: row;
  align-self: auto;
}

.repgen .sidebar-container {
  width: 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  background-color: #C9E7E5;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
}

.repgen .sidebar-container.visible {
  width: 20%;
  border-radius: 5px;
}

.repgen .sidebar-main-separator {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.repgen .sidebar-container.visible+.repgen .sidebar-main-separator {
  width: 80%;
}

.repgen .navbar-main-separator {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 50px;
}

.repgen .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.repgen .sidebar-icons-ham-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid gray; 
  cursor: default;
}

.repgen .sidebar-container.visible .sidebar-icons-ham-icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  border: none;
}

.repgen .ham-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.repgen .newchat-icon {
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.repgen .search-icon {
  width: 24px;
  margin-right: 10px;
  cursor: pointer
}

.repgen .ham-menu-icon span {
  display: block;
  height: 0.1rem;
  width: 100%;
  background-color: rgb(124, 124, 124);
  transition: 0.3s ease;
}

.repgen .ham-menu-icon span:nth-child(1) {
  top: 20%;
}

.repgen .ham-menu-icon span:nth-child(3) {
  top: 80%;
}

.repgen .ham-menu-icon.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -55%) rotate(45deg);
}

.repgen .ham-menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.repgen .ham-menu-icon.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
}

.repgen .main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.repgen .textbar-container {
  align-items: center;
  display: flex;
  background-color: #F7F9FB;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: auto;
  justify-content: space-between;
  border-radius: 15px;
}

.repgen .text-input {
  background-color: transparent;
  color: black;
  border: none;
  width: 80%;
  margin-left: 10px;
  outline: none;
  height: auto;
  min-height: 40px;
  max-height: 300px;
  resize: none;
  overflow-y: auto;
  word-wrap: break-word;
  padding-top: 15px;
}

.repgen .text-input::-webkit-scrollbar {
  display: none;
}

.repgen .sendmsg-icon {
  width: 32px;
  cursor: pointer; 
  transition: opacity 0.2s ease-in-out; 
}

.repgen .sendmsg-icon:hover {
  opacity: 0.7; 
}

.repgen .chat-history {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
}

.repgen .chat-history::-webkit-scrollbar {
  display: none;
}

.repgen .chat-message {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
  word-wrap: break-word;
}

.repgen .chat-message.user {
  align-self: flex-end;
  background-color: #F7F9FB;
  text-align: right;
}

.repgen .chat-message.bot {
  align-self: flex-start;
}

.repgen .chat-table-response {
  border-radius: 8px;
  margin-top: 10px;
}

.repgen .res-head {
  font-size: 15px;
  color: #000000;
  margin-bottom: 10px;
}

.repgen .res-foot {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.repgen .foot-cont {
  font-size: 15px;
  color: #000000;
  margin-bottom: 10px;
}

.repgen .chat-table-response h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.repgen .chat-table-response h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.repgen .chat-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.repgen .chat-table th,
.repgen .chat-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.repgen .chat-table th {
  background-color: #00a8a8;
  color: white;
}

.repgen .chat-table td {
  background-color: #E1FFF6;
}

.repgen .chat-table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.repgen .chat-table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.repgen .chat-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.repgen .chat-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.repgen .srch-new-icon {
  display: flex;
  transition: 0.3s ease;  
}

.repgen .welc-text {
  text-align: center;
}

.repgen .copy-icon-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.repgen .copy-icon {
  width: 24px; /* Adjust as needed */
  height: 24px;
  transition: transform 0.2s ease-in-out, filter 0.2s;
}

.repgen .copy-icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.repgen .tooltip {
  position: absolute;
  bottom: 120%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.repgen .copy-icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


/* Responsive CSS */
@media only screen and (max-width: 768px) {
  .repgen .body-content-container {
    flex-direction: column;
    padding: 0.5rem;
  }

  .repgen .sidebar-container {
    display: none;
  }

  .repgen .header-content-container {
    flex-direction: column;
  }

  .repgen .welres-container {
    display: none;
  }

  .repgen .sidebar-icons-hamburger-container {
    display: block;
  }
}